
<header>
    <nav>
        <div class="nav-title"><%= image_tag "img/logo.png", size: "200x70" %></div>
        <div class="nav-bar">
            <a class="nav-lists">Portfolio</a>
            <a class="nav-lists">Feature</a>
            <a class="nav-lists">Profile</a>
            <a class="nav-lists">Contact</a>
            <%# 列が揃わない。。。。。。。....あああ
            %>
        </div>
    </nav>
</header>