
<header>
    <nav>
        <ul class="nav-bar">
            <li class="nav-title"><%= image_tag "img/logo.png", size: "200x70", class: "inline-block-img"%></li>
            <li class="nav-lists">Portfolio</li>
            <li class="nav-lists">Feature</li>
            <li class="nav-lists">Profile</li>
            <li class="nav-lists">Contact</li>
        </ul>
    </nav>
</header>