// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
    background-color: #EC715F;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center; 
}

nav{
    height: 70px;
    width: 1024px;
    background-color: black;
    
}

.nav-bar{
    padding: 0px;
    
}

.nav-title{
    display: inline-block;
}

.nav-lists{
    height: 70px;
    display: inline-block;
    margin: 0 30px 30px 30px;
    font-size: 16px;
    color: white;
    line-height: 70px;
}

